@charset "utf-8";
/* CSS Document */

body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow-x: hidden;
}
#top{
    background: #555555;
    padding: 10px 0;
}
#top .offer{
    color: #ffffff;
}
#top .offer .btn{
    text-transform: uppercase;
}
@media(max-width: 991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
#top ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width: 991px){
    #top ul.menu{
        text-align: center;
    }
}
#top ul.menu > li{
    display: inline-block;
}
#top ul.menu > li a{
    color: #eeeeee;
}
#top ul.menu > li + li:before{
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}


#slider{
    margin-bottom: 40px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}
color{
	color: #2299d5;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2299d5;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: white;
  background-color: #2299d5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: bold;
}
.nav li a:hover:not(.active) {
  background-color: white;
	color:  #2299d5
}
.actives {
  background-color:  #2299d5;
	color: #2299d5;
}
.center{
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	float: none;
}
.col-md-9{
	margin-left: auto;
	margin-right: auto;
	max-width: inherit;
	float: none;
}